.formas-de-pago{
    background-color: #FFF5B2;
}


.formulario{
    max-width: 600px; /* Establece el ancho máximo del formulario en 400px */
    margin: 0 auto; /* Centra el formulario en el centro de la página */
}

.form-label{
    font-size: 2rem;
  }