@use 'variables';
html{
    font-size: 62.5%;
   /* background-repeat: no-repeat;
    background-size: contain;*/
}

/* header */
header{
    height: 100%;
    font-family:'Shadows Into Light', cursive;
    background-color: rgb(247,247,250);
    background: linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(181,86,169,1) 37%, rgba(255,47,198,1) 93%);
    position: sticky;
    top: 0px;
    z-index: 1;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
}


.carousel-item {
    max-height: 600px;
    max-width: 200px;
    margin-top: 60px;
    margin-left: auto;
}

.logo{
    width: 100px;
    height: 100px;
}


h1{
    text-align: center;
    color: #E11A63;
    font-size: 5rem;
    margin-top: 80px;
    
}
h2{
    text-align: center;
    color: black;
    font-size: variables.$size3;
    margin-top: 30px;
    padding: 80px;
}

h3{
    margin-top: 30px;
    color: black;
    background-color: #92c1ec;
    font-size: variables.$size3;
    
}
.prod{
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    font-size: variables.$size3/2;
    flex-direction: row; /* Cambia flex-direction a row */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}
.img {
    width: 250px;
    height: 250px;
    margin-top: 50px;
}


.beneficios{
    margin-top: 30px;
}

.produc{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: variables.$size3/2;
    flex-direction: row; /* Cambia flex-direction a row */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}