
@media(max-width: 480px){
    
*{
    margin-left: 0;
}

    html{
        font-size: 62.5%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    /*
    #EAA4E1 violeta
    #FFC8DD rosa claro
    #E11A63 fucsia
    #92c1ec celelste claro
    #FFF5B2 vainilla
    */
    
    
    /* header */
    header{
        height: 35px;
        font-family:'Shadows Into Light', cursive;
        background-color: rgb(247,247,250);
        background: linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(181,86,169,1) 37%, rgba(255,47,198,1) 93%);
        position: sticky;
        top: 0px;
        width: 100%;
    }
    
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        
    }
    li{
        list-style: none;
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        
    }
    
    .carousel-item {
        max-height: 200px;
        max-width: 140px;
        margin-top: 17px;
        margin-left: auto;
    }
    
    
    
    /* main */
    .logo{
        width: 40px;
        height: 40px;
    }
    
    
    h1{
        text-align: center;
        color: #E11A63;
        font-size: 3rem;
        margin-top: 20px;
        
    }
    h2{
        text-align: center;
        color: black;
        font-size: 2rem;
        margin-top: 20px;
        padding: 40px;
    }
    
    h3{
        margin-top: 25px;
        color: black;
        background-color: #92c1ec;
        font-size: 2.5rem;
        
    }
    
    .prod {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        font-size: 2rem;
        flex-direction: row; /* Cambia flex-direction a row */
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
      }
    .img{
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }
    .beneficios{
        margin-top: 10px;
    }
   
    
    
    
    
    /*tienda media*/
    
    .tienda{
        text-align: center;
        font-size: 3rem;
        background-color: #FFF5B2;
    }
    
    .articulos{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    
    
    .ar{
        font-size: 1rem;
        width: 250px;
        margin-top: 10px;
        border: 0.5px solid black;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    .productos{
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
    
    .cont-button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    input{
       height: 15px;
       width: 55px;
       border: none;
       border-radius: 20%;
       background-color: #FFC8DD;
        
    }
    
    /*formas de pago*/
    
    .formas-de-pago{
        background-color: #FFF5B2;
    }
    
    .f{
        font-size: 20px;
        margin-top: 30px;
    }
    .formulario{
        max-width: 200px; /* Establece el ancho máximo del formulario en 400px */
        margin: 0 auto; /* Centra el formulario en el centro de la página */
    }
    .form-label{
        font-size: 2rem;
      }
    
    /*ubicacion media*/
    .ubi{
        background-color: #FFF5B2;
    }
    .ubic{
        margin-bottom: 30px;
        margin-left: 20px;
        font-size: 1.5rem;
    }
    .ubica{
        margin: 20px;
        font-size: 2rem;
    }
    .ub{
        width: 80%;
        height: 200px;
        margin-left: 40px;
    }
    
    /*contacto media*/
    .con{
        background-color: #FFF5B2;
    }
    .cont{
        margin-top: 50px;
        margin-left: 50px;
    }
    
    
    
    .productos{
        width: 100px;
        height: 100px;
    }
    
    /* footer media*/
    
    .footer{
        height: 50px;
        margin-top: 50px;
        background-color: rgb(247,247,250);
        background: linear-gradient(90deg, rgba(247,247,250,1) 0%, rgba(181,86,169,1) 37%, rgba(255,47,198,1) 93%);
        position: sticky;
        top: 0px;
        
    }
    
    .container{
        margin-left: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas:
        "f1 f2 f3 f4"
        "f5 f5 f5 f5"
        "f5 f5 f5 f5";
    }
    
    
    .if{
        width: 20px;
        height: 20px;
    }
    .ifd{
        width: 10px;
        height: 10px;
    }
    .tf2{
        font-size: 0.7rem;
    }
    .tf3{
        font-size: 0.7rem;
    }
    
    .f1{
        grid-area: f1;
       
    }
    .f2{
        grid-area: f2;
       
    }
    .f3{
        grid-area: f3;
    
    
    }
    .f4{
        grid-area: f4;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .f5{
        grid-area: f5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    }
    