.ubi{
    background-color: #FFF5B2;
}
.ubic{
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 3rem;

}
.ubica{
    font-size: 3rem;
    margin: 100px;
}
.ub{
    width: 80%;
    height: 500px;
    margin-left: 120px;
}