
.logo{
    width: 100px;
    height: 100px;
}


h1{
    text-align: center;
    color: #E11A63;
    font-size: 5rem;
    margin-top: 80px;
    
}
h2{
    text-align: center;
    color: black;
    font-size: 3rem;
    margin-top: 50px;
    padding: 80px;
}

h3{
    margin-top: 50px;
    color: black;
    background-color: #92c1ec;
    font-size: 3rem;
    
}
.prod{
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    width: 90vw;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.img {
    width: 250px;
    height: 250px;
    margin-top: 50px;
}
.beneficios-velas{
    margin-top: 30px;
}
.beneficios-difu{
    margin-top: 30px;
}
.beneficios-res{
    margin-top: 30px;
}
.img-res{
    padding-block-end: 40px;
}
